@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    justify-content: left;
    align-content: left;
    
}

a.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*BARRA NAV A LA DERECHA*/
.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}

section.primera-seccion {
    background-image: url(../img/BANNER\ LOGOS\ ajustado.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
}

section.primera-seccion h3{
    text-align: center;
    color: white;
    padding-bottom: 10px;
    padding-top: 15px;
    position: relative;
}

section.primera-seccion p{
    text-align: justify;
    color: white;
    padding-bottom: 10px;
}

section.primera-seccion p button {
    border-radius: 20px;
}

/*tarjetas*/
section.primera-seccioOn {
    background-image: url(../img/BANNER1.png);
    color: white;
    width: auto;
    height: auto;
}

section.primera-seccioOn h1{
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

/*tarjetas2*/
div.marco {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

div.marco div {
    width: auto;
    height: auto;
}

.row {
    justify-content: space-between;
}

section.seccionx {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 10px;
}

section.secciones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: 10px;
}

div.futuros {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgb(32, 32, 32);
    color: white;
    padding: 50px;

}
div.futuros p {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.w3-card-4 {
    text-align: center;
    background-image: url(../img/BANNER1.png);
    background-position: 0%;
    border-radius: 30px;
    border-style: solid;
    border-color: black;
}

/*testeo*/
.fliping {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    padding: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 45px;
    border: solid;
    border-color: black;    
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: white;
    color: black;
  }
  
  .flip-card-front img {
    border-radius: 40px;
  }
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }

  /* Style the back side photoshop*/
  .flip-card-back#dasss {
    
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Style the back side premiere*/
  .flip-card-back#dass {
    background-color:rgb(161, 7, 223);
    color: white;
    transform: rotateY(180deg);
  }

  /* Style the back side illustrator */
  .flip-card-back#das {
    background-color:rgb(238, 75, 10);
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


/*fin testeo*/

/*VISTA CELU PARA LOS 3 DE TUTO*/
@media (min-width: 200px) and (max-width: 690px) {
    div.fliping{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    div.flip-card {
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    div.flip-card-back {
        justify-content: space-evenly;
    }
    div.segundo img {
        width: 100px;
        height: 100px;
    }

    div.col-md-4 img {
      display: flex;
      flex-direction:row-reverse;
      width: 50%;
    }

    div.futuros h1 {
      text-align: center;
    }
}

/*afuera de tarjeta*/
div.col-sm-4 {
    border-radius: 50%;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 60px;
}

/*dentro de afuera de tarjeta*/

div.card {
    border-radius: 70px;
    border: black;
}
/*photoshop color1*/
div.card-body0 {
    background-color: rgb(10, 101, 238);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    object-fit: cover;
}

/*premire color1*/
div.card-body1 {
    background-color: rgb(161, 7, 223);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    object-fit: cover;
}

/*illustrator color1*/
div.card-body2 {
    background-color: rgb(238, 75, 10);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 60px;
    object-fit: cover;
}

/*SEGUNDA SECCION*/
section.segunda-seccion {
    background-color: rgb(32, 32, 32);
    display: grid;
    grid-template-columns: 100%;
}

section.segunda-seccion div img {
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: space-between;
    margin-top: 29px;
}

div.segundo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

/*photoshop*/
div.tercero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

div.tercero h1 {
    color: white;
    background-color: rgb(10, 101, 238);
    border-radius: 30px;
    padding-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 100px;
    width: 100%;
}

div.tercero p {
    color: white;
    padding-top: 20px;
}
/*premiere*/
div.terceroo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

div.terceroo h1 {
    color: white;
    background-color: rgb(238, 75, 10);
    border-radius: 30px;
    padding-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 100px;
    width: 100%;
}

div.terceroo p {
    color: white;
    padding-top: 20px;
}
/*illustrator*/
div.tercerooo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

div.tercerooo h1 {
    color: white;
    background-color: rgb(161, 7, 223);
    border-radius: 30px;
    padding-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 100px;
    width: 100%;
}

div.tercerooo p {
    color: white;
    padding-top: 20px;
}

footer.sociales {
    background-color: white;
    color: black;
}

section.seccion-photoshop {
    background-color: rgb(10, 101, 238);
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

section.seccion-premiere {
    background-color: rgb(161, 7, 223);
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

section.seccion-illustrator {
    background-color: rgb(238, 75, 10);
    text-align: center;
    color: white;
    padding-bottom: 50px;
    padding-top: 50px;
    position: relative;
}

div.terceroo h1 {
    color: white;
    background-color:rgb(238, 75, 10);
    border-radius: 30px;
    padding-left: 125px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*INICIO SOCIALES*/  
html, footer{
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: linear-gradient( white);
}
  .wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    float: left;
    margin: 0 5px;
    overflow: hidden;
    background: white;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.39);
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1DA1F2;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #E1306C;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  .wrapper .button span{
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1) span{
    color: #4267B2;
  }
  .wrapper .button:nth-child(2) span{
    color: #1DA1F2;
  }
  .wrapper .button:nth-child(3) span{
    color: #E1306C;
  }
  .wrapper .button:nth-child(4) span{
    color: #ff0000;
  }
/*FIN SOCIALES*/  